.filter__menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
                
    text-align: center;
    letter-spacing: 0.03em;
    list-style: none;
                
    color: #212121;
            
    display: flex;
    justify-content: center;
            
    padding-top: 94px;
    padding-bottom: 50px;
}
            
.filter__button {
    background: #F5F4FA;
    cursor: pointer;
    border: none;
            
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
            
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;
    margin-left: 8px;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms, color 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms;
}
            
.filter__button:hover {
    color: #FFFFFF;
    background-color: #2196F3;
    /* transition: all 0.4s ease; */
}