.project__list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding-bottom: 94px;
}

.project__img {
    width: 370px;
    margin-bottom: 30px;
}

.project__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgb(33, 150, 243, 0.9);
    width: 370px;
    height: 294px;

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $title-color;
    top: 0;
    left: 0;
    padding-right: 24px;
    padding-left: 24px;
    padding: 63px, 24px;
    opacity: 0;
    /* transition: 0.3s; */
    cursor: pointer;

    /* transition: background 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms; */


    /* transform: translate(-100%, -100%); */
}

.project__item {
    margin-left: 30px;
    margin-bottom: 30px;
    /* border: 1px solid #EEEEEE; */

    position: relative;
    overflow: hidden;
}

.project__item:hover>.project__overlay {
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms;

}

.project__item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: scale(1);

}

.project__img:nth-child(3n) {
    margin-right: 0;
}

.project__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
    color: $paragraph-color;
    padding-left: 24px;
}

.project__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    
    color: $text-color;
    padding-left: 24px;
    padding-bottom: 20px;
}



.project__item:nth-child(1) {
    margin-left: 0;
}

.project__item:nth-child(4) {
    margin-left: 0;
}

.project__item:nth-child(7) {
    margin-left: 0;
}