body {
    font-family: 'Roboto';
}


.btn {
    font-family: 'Raleway';
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19%;

    letter-spacing: 0.03em;

    text-decoration: none;
}

.btn-footer {
    font-family: 'Raleway';
    color: #FFFFFF;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19%;

    letter-spacing: 0.03em;

    text-decoration: none;
}

.list {
    list-style: none;
}

.item-list {
    list-style: none;
}

span {
    font-family: 'Raleway';
    color: #2196F3;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19%;

    letter-spacing: 0.03em;
}

.nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14%;
    letter-spacing: 0.02em;
    cursor: pointer;

    color: #212121;

    text-decoration: none;
}

.nav:hover {
    color: #2196F3;
    transition: all 0.4s ease;
}

.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14%;
    letter-spacing: 0.02em;
    cursor: pointer;

    color: #757575;

    text-decoration: none;
}

.contact:hover {
    color: #2196F3;
    transition: all 0.4s ease;
}

.contact-footer {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
}

.filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,625%;
    
    text-align: center;
    letter-spacing: 0.03em;
    list-style: none;
    
    color: #212121;
}

.button {
    background: #F5F4FA;
    cursor: pointer;
    border: none;
}

.button:hover {
    color: #FFFFFF;
    background: #2196F3;
    transition: all 0.4s ease;
}

.group {
    font-weight: 700;
    font-size: 18px;
    line-height: 2%;
    letter-spacing: 0.06em;

    color: #212121;
}

.group_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,875%;
    letter-spacing: 0.03em;
    
    color: #757575;
}

address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71%;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

footer {
    background: #2F303A;
}
