.btn {
    font-family: 'Raleway';
    color: #000000;
}

.nav {
    font-family: 'Roboto';
    color: #212121;
}

.contact {
    font-family: 'Roboto';
    color: #757575;
}

.filter {
    font-family: 'Roboto';
    color: #212121;
}

.group {
    font-family: 'Roboto';
    color: #212121;
}

.group_text {
    font-family: 'Roboto';
    color: #757575;
}

address {
    font-family: 'Roboto';
    color: #757575;
}