body {
    font-family: 'Roboto'
}

        /* HEADER */

header {
    outline: 2px solid gold;
    padding-top: 32px;
    padding-bottom: 32px;
}


        /* logo */

.header-logo {

    font-family: 'Raleway';
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    letter-spacing: 0.03em;
    
    text-decoration: none;
    
    justify-content: center;
    
}

span {
    
    font-family: 'Raleway';
    color: #2196F3;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    letter-spacing: 0.03em;
}


        /* nav-menu */

.header-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.contact-list {
    display: flex;
    justify-content: center;
}

.header-nav {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    cursor: pointer;
    color: #212121;
    
    text-decoration: none;
    
    margin-left: 55px;
    
}

.contact {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    cursor: pointer;
    
    
    color: #757575;
    
    text-decoration: none;
}

.header-nav:hover {
    color: #2196F3;
    transition: all 0.4s ease;
}

.contact:hover {
    color: #2196F3;
    transition: all 0.4s ease;
}






.service-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.images-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.images-item {
    margin-left: 30px;
    width: 370px;
}

.person-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.person-image {
    width: 270px;
    margin-left: 30px;
}

.svg-list {
    list-style: none;
}


.btn-footer {
    font-family: 'Raleway';
    color: #FFFFFF;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    letter-spacing: 0.03em;
    
    text-decoration: none;
}
.contact-footer {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
}

.intro {
    /* position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px; */

    background: #2F303A;
}

.intro_title {

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

button {

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    background: #2196F3;
    border: none;
    
    display: block;
    justify-content: center;
    
    
}

.service_list_item, .person {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.text, .product {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #757575;
}

.photo_title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

address {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #FFFFFF;  
}

footer {
    background: #2F303A;
}


