body {
    font-family: 'Roboto'
}




.btn {

    font-family: 'Raleway';
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    letter-spacing: 0.03em;

    text-decoration: none;
}

span {

    font-family: 'Raleway';
    color: #2196F3;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    letter-spacing: 0.03em;
}

.nav {

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;

    text-decoration: none;
}

.contact {

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;

    text-decoration: none;
}

.intro_title {

    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

button {

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}

.service_list_item, .person {

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.text, .product {

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #757575;
}

.photo_title {

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

address {

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #FFFFFF;  
}


