body {
    font-family: 'Roboto'
}

        /* HEADER */

/* header {
    padding-top: 32px;
    padding-bottom: 32px;
} */

header .container {
    display: flex;
}

.header-logo {

    font-family: 'Raleway';
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    letter-spacing: 0.03em;
    
    text-decoration: none;
    
    justify-content: center;

    padding-top: 24px;
    padding-bottom: 24px;
    
}

.logo-color {
    
    font-family: 'Raleway';
    color: #2196F3;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    letter-spacing: 0.03em;
}

.header-list {
    list-style: none;
    display: flex;
    justify-content: center;

    padding-top: 32px;
    padding-bottom: 32px;
}

.contact-list {
    display: flex;
    justify-content: center;
    margin-left: auto;

    padding-top: 32px;
    padding-bottom: 32px;
}

.header-text {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    cursor: pointer;
    color: #212121;
    
    text-decoration: none;
    
    margin-left: 55px;
    
}

.header-contact {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    cursor: pointer;
    
    
    color: #757575;
    
    text-decoration: none;

    margin-left: 55px;
}

.header-text:hover {
    color: #2196F3;
    transition: all 0.4s ease;
}

.header-contact:hover {
    color: #2196F3;
    transition: all 0.4s ease;
}

.header-svg-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #757575;
}

.header-svg-item:hover {
    color: #2196F3;
    transition: all 0.4s ease;
}

.header-svg {
    margin-right: 10px;
    fill: #757575;
}


            /* HERO-SECTION */

.hero-section {
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/studio/hero.jpg);
    width: 1600px;
    height: 600px;
}

.hero_title {

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;

    padding-right: 237px;
    padding-left: 237px;

}

.hero-button {

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;

    letter-spacing: 0.06em;

    color: #FFFFFF;
    background: #2196F3;
    border: none;

    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 24px;
    padding-left: 24px;
    margin-top: 30px;
    border-radius: 4px;
}



            /* SERVICE-SECTION */

.service-list {
    list-style: none;
    display: flex;
    justify-content: center;

    padding-top: 94px;
    padding-bottom: 94px;
}

.service-item::before {
    content: '';
    width: 270px;
    height: 120px;

    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.service-item:nth-child(1)::before {
    background-image: url(../img/studio/antenna.png);
}

.service-item:nth-child(2)::before {
    background-image: url(../img/studio/clock.png);
}

.service-item:nth-child(3)::before {
    background-image: url(../img/studio/diagram.png);
}

.service-item:nth-child(4)::before {
    background-image: url(../img/studio/astronaut.png);
}

.service-text {
    margin-top: 10px;
}




            /* PHOTO-SECTION */

.photo-section {
    padding-bottom: 94px;
}

.photo-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.photo-item {
    margin-left: 30px;
    width: 370px;
    
    
}

.photo-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

    margin-bottom: 50px;
}




            /* TEAM-SECTION */

.team-section {
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

    margin-bottom: 50px;
}

.team-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.team-image {
    width: 270px;
}

.team-person {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

    margin-top: 30px;
    margin-bottom: 10px;
}

.team-product {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}


.team-portfolio {
    margin-left: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    
}

.team-portfolio:nth-child(1) {
    margin-left: 0;
}


.team-list-svg {
    display: flex;
    justify-content: center;
}

.team-item {
    margin-left: 10px;
    margin-top: 16px;
    color: #AFB1B8;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
}

.team-item:hover {
    color: #2196F3;
    transition: all 0.4s ease;
}

.team-svg {
    fill: #AFB1B8;
}


            /* SVG-SECTION */

.svg-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.svg-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

}

.svg-list {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.svg-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-left: 30px;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;

}


.svg-border {
    
    fill:  #AFB1B8;
}




            /* FOOTER-SECTION */

.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
    margin-top: 0;
    margin-bottom: 0;
}
            
.footer-button {
    font-family: 'Raleway';
    color: #FFFFFF;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
                
    letter-spacing: 0.03em;
                
    text-decoration: none;
    margin-bottom: 20px;
}

.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 9px;
}


.footer-contact-list {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
}

.footer-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    cursor: pointer;
    
    
    color: #757575;
    
    text-decoration: none;
}

.footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-left: 301px;
    /* transform: translateY(-120px); */
}

.footer-contact-li {
    margin-bottom: 9px;
}

.footer-contact-li:nth-child(2) {
    margin-bottom: 0;
}

.footer-list-svg {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.footer-item {
    margin-left: 10px;
    background: rgba(255, 255, 255, 0.1);
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    
}

.footer-svg {
    fill: #FFFFFF;
}




            /* MAIN */

.svg-list {
    list-style: none;
}

.hero-section .container {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.service_list_item {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.service-text {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #757575;
}





