.service__paragraph {
    
    list-style: none;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    // gap: 30px;

    @media screen and (min-width: 768px) {
        // columns: 2;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        list-style: none;
        // display: flex;
        justify-content: center;
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.service__item {
    // justify-content: center;
    // text-align: center;
}

.service__item::before {
    content: '';
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: $item-color;
    border-radius: 4px;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    display: block;

    @media screen and (min-width: 768px) {

        width: 354px;
        height: 120px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 120px;
    }
}

.setvice__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    

    @media screen and (min-width: 768px) {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: left;
    }

    @media screen and (min-width: 1200px) {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;  
        text-align: left;
    }
}

.service__text {
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: $text-color;

    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }
}

.service__item:nth-child(1)::before {
    // background-image: url(../img/studio/antenna.png);
    background-image: url(../../../img/studio/antenna.png);
    background-repeat: no-repeat;
}

.service__item:nth-child(2)::before {
    background-image: url(../img/studio/clock.png);
    background-repeat: no-repeat;
}

.service__item:nth-child(3)::before {
    background-image: url(../img/studio/diagram.png);
    background-repeat: no-repeat;
}

.service__item:nth-child(4)::before {
    background-image: url(../img/studio/astronaut.png);
    background-repeat: no-repeat;
}
