.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background: $item-color;
}

.team__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $paragraph-color;
    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0.03em;
    }

    @media screen and (min-width: 1200px) {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
    }
}

.team__list {
    list-style: none;
    justify-content: center;
    gap: 30px;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        
    }
}

.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $title-color;
    margin-bottom: 30px;
    padding-bottom: 24px;

    @media screen and (min-width: 768px) {
        
    }

    @media screen and (min-width: 1200px) {
        // margin-left: 30px;
    
    }
    
}

// .team__item:nth-child(1) {
//     margin-left: 0;

//     @media screen and (min-width: 768px) {
//         margin-right: 30px;
//     }
// }

// .team__item:nth-child(3) {
//     @media screen and (min-width: 768px) {
//         margin-right: 30px;
//     }
// }

.team__person {
    width: 100%;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;

    color: $paragraph-color;

    margin-top: 30px;
    margin-bottom: 10px;
}

.team__product {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;

    color: $text-color;
}





.team__list__icon {
    display: flex;
    justify-content: center;
}

.team__item__svg {
    margin-left: 10px;
    margin-top: 16px;
    color: $svg-color;
    background: $title-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms, color 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms;

}

.team__item__svg:hover {
    /* transition: all 0.4s ease; */
    background-color: $accent;
    color: $title-color;
}

.team__icons {
    fill: currentColor;
}